#flag-img{
    width: 70%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 212, 124, .4);
}

.action-button{
    margin: 10px;
}

.disabled-button{
    color: red !important;
    background-color: darkgray !important;
    border-color: red !important;
}

.disabled-button:hover{
    box-shadow: none;
    cursor: default;
}

#last-question-info{
    height: 200px;
    background: linear-gradient(0.25turn, transparent, #f4fff6, transparent);
    position: relative;
    border-top: 1px solid #00d47c;
    border-bottom: 1px solid #00d47c;
}

#last-question-info div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
