table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;

    margin-top: 30px;
}

thead{
    border-bottom: 1px solid #009f5e;
}

thead tr{
    background-color: #00be5d !important;
    color: white;
    font-weight: bold;
}

th, td{
    padding: 10px;
    min-height: 20px;
    min-width: 50px;
    max-width: 250px;
}


tr:nth-child(odd){
    background-color: #e5fff1;
}

tr:nth-child(even){
    background-color: white;
}

thead tr th:first-child{
    border-top-left-radius: 7px;
}

thead tr th:last-child{
    border-top-right-radius: 7px;
}