#background-lottie{
    top: 0; left: 0; bottom: 0; right: 0;
    background: transparent;
    margin: auto;
    position: fixed;
    z-index: -1;
    max-height: 75vh;
    filter: blur(8px);
}

main#window{
    margin: auto auto auto auto;
    text-align: center;
    border-radius: 15px;
    width: 95vw;
    max-width: 900px;
    min-height: 90vh;
    background: inherit;

    box-shadow: 0 0 1rem 0 rgba(0, 212, 124, 0.4);

}




#header-flagmaster, h2{
    text-align: center;
    color: #00d47c;
}

.action-button{
    box-shadow: 0 0 2rem 0 rgba(0, 212, 124, .2);
    color: white;
    font-weight: bold;
    background-color: #00d47c;
    border-radius: 20px;
    border: 1px solid #009f5e;
    height: 50px;
    min-width: 200px;
    outline: none;

    transition: all 0.2s linear;

    margin-top: 30px;
    margin-bottom: 10px;
}


.action-button:hover{
    cursor: pointer;
    transform: translate(1.05);
    box-shadow: 0 0 2rem 0 rgba(0, 212, 124, 1);
}

.action-button:active{
    transform: translateY(2px);
}

.action-button:focus{
    outline: none;
}

input{
    width: 250px;
    height: 70px;
    margin: 10px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #00d47c;
    text-align: center;
}

.visible{
    display: block !important;
}

.hidden{
    display: none !important;
}